---
import ProductLayouts from "@/functional-components/product/ProductLayouts";
import ProductFilters from "@/functional-components/ProductFilters";
import ProductLayoutViews from "@/functional-components/ProductLayoutViews";
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";

import { products } from "@/data/products";

const searchParams = Astro.url.searchParams;

const searchValue = searchParams.get("q") || "";

const initialProducts = searchValue
  ? products.filter((product) =>
      product.title
        .toLowerCase()
        .includes(searchValue.toLowerCase())
    )
  : products;

const initialPageInfo = {
  hasNextPage: false,
  endCursor: null,
};

const categories = [
  {
    handle: "all",
    title: "All Products",
    products: {
      edges: initialProducts,
    },
  },
];

const vendors = [
  {
    vendor: "Old Navy",
    productCount: initialProducts.length,
  },
];

const tags = [
  ...new Set(
    initialProducts.flatMap((product) => product.tags || [])
  ),
];

const maxPriceData = {
  amount: "1000",
  currencyCode: "USD",
};

const vendorsWithCounts = [
  {
    vendor: "Old Navy",
    productCount: initialProducts.length,
  },
];

const categoriesWithCounts = [
  {
    category: "Todos los productos",
    productCount: initialProducts.length,
  },
];
---

<Base title="Products">
  <ProductLayouts
    categories={categories}
    vendors={vendors}
    tags={tags}
    maxPriceData={maxPriceData}
    vendorsWithCounts={vendorsWithCounts}
    categoriesWithCounts={categoriesWithCounts}
    client:only="react"
  />

  <div class="container">
    <div class="row">
      <div class="col-3 hidden lg:block -mt-14">
        <ProductFilters
          categories={categories}
          vendors={vendors}
          tags={tags}
          maxPriceData={maxPriceData}
          vendorsWithCounts={vendorsWithCounts}
          categoriesWithCounts={categoriesWithCounts}
          client:only="react"
        />
      </div>

      <ProductLayoutViews
        initialProducts={initialProducts}
        initialPageInfo={initialPageInfo}
        sortKey="CREATED_AT"
        reverse={true}
        searchValue={searchValue}
        client:only="react"
      />

      <CallToAction />
    </div>
  </div>
</Base>